@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css";

@font-face {
    font-family: 'Intro-regular';
    src: url('../fonts/intro-regular.eot');
    src: url('../fonts/intro-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/intro-regular.woff') format('woff'),
         url('../fonts/intro-regular.ttf') format('truetype'),
         url('../fonts/intro-regular.svg#introregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro';
    src: url('../fonts/intro-black.eot');
    src: url('../fonts/intro-black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/intro-black.woff') format('woff'),
         url('../fonts/intro-black.ttf') format('truetype'),
         url('../fonts/intro-black.svg#intro_blackregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

// old shits

// @font-face {
//     font-family: 'Intro';
//     src: url('../fonts/intro_1-webfont.eot');
//     src: url('../fonts/intro_1-webfont.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/intro_1-webfont.woff') format('woff'),
//          url('../fonts/intro_1-webfont.ttf') format('truetype'),
//          url('../fonts/intro_1-webfont.svg#intro_regular') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Intro-regular';
//     src: url('../fonts/intro_regular-webfont.eot');
//     src: url('../fonts/intro_regular-webfont.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/intro_regular-webfont.woff') format('woff'),
//          url('../fonts/intro_regular-webfont.ttf') format('truetype'),
//          url('../fonts/intro_regular-webfont.svg#intro_regularregular') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }